@model TheFlow.Api.Models.UserModel

@{
    ViewBag.Title = string.Format("{0} - Edit - {1}", Model.DisplayName, TheFlow.Site.Settings.SiteName);
}

@section Scripts
{
    <script src="~/scripts/parsley.js"></script>
    <script src="~/scripts/pagedown/Markdown.Converter.js"></script>
    <script src="~/scripts/pagedown/Markdown.Editor.js"></script>
    <script src="~/scripts/pagedown/Markdown.Sanitizer.js"></script>
    <script src="~/scripts/prettyprint/prettify.js"></script>
    <script src="~/scripts/editor.js"></script>
    <script type="text/javascript">
        function onThemeChanged(sel) {
            $('#codeTheme').attr('href', '@Url.Content("~/Content/prettyprint/")' + sel.options[sel.selectedIndex].value + "Style.css");
            prettyPrint();
        }

        loader.jqueryCallback.push(function () {
            enableTab("wmd-input");

            var converter = new Markdown.getSanitizingConverter();

            var editor = new Markdown.Editor(converter);

            //refresh prettyprint when the preview is refreshed
            editor.hooks.chain("onPreviewRefresh", function () {
                $("pre").addClass("prettyprint");
                $("code").addClass("prettyprint");
                //$("code").css("background-color", '#eee');
                prettyPrint();
            });

            editor.run();
        });
    </script>
}

@section head
{
    <link id="codeTheme" href="@Url.Content(String.Format("~/Content/prettyprint/{0}Style.css", Model.Preferences.CodeTheme))" rel="stylesheet" />
}

<h2>Edit Profile</h2>

<div id="edit-user-area" class="row panel panel-default">
    <div class="col-sm-6">
        @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { data_validate = "parsley", novalidate = "", role = "form", id = "edit-user-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="DisplayName">Display Name</label>
                <input class="form-control" id="DisplayName" name="DisplayName" type="text" value="@Model.DisplayName" required data-minLength="5" />
            </div>
            <div class="form-group">
                <label for="DateOfBirth">Date Of Birth<sup>*</sup></label>
                <input class="form-control" id="DateOfBirth" name="DateOfBirth" type="date" value="@Model.DateOfBirth" data-type="dateIso" />
            </div>
            <div class="form-group">
                <label for="FirstName">First Name<sup>**</sup></label>
                <input class="form-control" id="FirstName" name="FirstName" type="text" value="@Model.FirstName" />
            </div>
            <div class="form-group">
                <label for="LastName">Last Name<sup>**</sup></label>
                <input class="form-control" id="LastName" name="LastName" type="text" value="@Model.LastName" />
            </div>
            <div class="form-group">
                <label for="Location">Location</label>
                <input class="form-control" id="Location" name="Location" type="text" value="@Model.Location" />
            </div>
            <div class="form-group">
                <label for="EmailAddress">Email Address<sup>**</sup></label>
                <input class="form-control" id="EmailAddress" name="EmailAddress" type="email" value="@Model.EmailAddress" required data-val-email="The Value must be a valid email address." data-type="email" />
            </div>
            <div class="form-group">
                <label for="Preferences.CodeTheme">Code Theme</label>
                <select class="form-control" onchange="onThemeChanged(this)" name="Preferences.CodeTheme" id="Preferences.CodeTheme">
                    @foreach (TheFlow.Api.Entities.CodeStyle style in Enum.GetValues(typeof(TheFlow.Api.Entities.CodeStyle)))
                    {
                        <option value="@style.ToString()" @if (Model.Preferences.CodeTheme == style)
                                                          { <text>selected</text> }>@style.ToString()</option>
                    }
                </select>
            </div>
            <small>*Used only for displaying Age</small>
            <br />
            <small>**Not Shown</small>
            <hr />
            <button class="btn btn-success" type="submit">Save Changes</button>
        }
    </div>
    <div class="col-sm-6">
        <small>Markdown preview</small>
        <textarea class="wmd-input full-width" id="wmd-input" name="Body" style="max-width: 100%; min-height: 16em;">
This is some test text for you to preview with:

    Console.Write("Type Your Name: ");
    string input = Console.ReadLine();
    Console.WriteLine("Hello {0}", input);
    if(input == "bob")
    {
        Console.WriteLine("Your name is Bob!");
    }
    else
    {
        Console.WriteLine("Your name is not bob.");
    }

        </textarea>
        <div class="panel panel-default editor-preview" style="background-color: white;">
            <small id="preview-text">Preview</small>
            <br />
            <div id="wmd-preview"></div>
        </div>
    </div>
</div>
