@model TheFlow.Api.Models.UserModel

@{
    ViewBag.Title = string.Format("{0} - Edit - {1}", Model.DisplayName, TheFlow.Site.Settings.SiteName);
}

@section Scripts
{
    <script src="~/scripts/parsley.js"></script>
    <script src="~/scripts/pagedown/Markdown.Converter.js"></script>
    <script src="~/scripts/pagedown/Markdown.Editor.js"></script>
    <script src="~/scripts/pagedown/Markdown.Sanitizer.js"></script>
    <script src="~/scripts/prettyprint/prettify.js"></script>
    <script src="~/scripts/editor.js"></script>
    <script type="text/javascript">
        function onThemeChanged(sel) {
            $('#codeTheme').attr('href', '@Url.Content("~/Content/prettyprint/")' + sel.options[sel.selectedIndex].value + "Style.css");
            prettyPrint();
        }

        enableTab("wmd-input");

        var converter = new Markdown.getSanitizingConverter();

        var editor = new Markdown.Editor(converter);

        //refresh prettyprint when the preview is refreshed
        editor.hooks.chain("onPreviewRefresh", function () {
            $("pre").addClass("prettyprint");
            $("code").addClass("prettyprint");
            //$("code").css("background-color", '#eee');
            prettyPrint();
        });

        editor.run();
    </script>
}

@section head
{
    <link id="codeTheme" href="@Url.Content(String.Format("~/Content/prettyprint/{0}Style.css", Model.Preferences.CodeTheme))" rel="stylesheet" />
}

<h2>Edit Profile</h2>

<div class="uk-grid uk-panel uk-panel-box">
    <div class="uk-width-medium-1-2">
        @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { data_validate = "parsley", novalidate = "" }))
        {
            @Html.AntiForgeryToken()
            <dl class="uk-description-list uk-description-list-horizontal">
                <dt><label for="DisplayName">Display Name</label></dt>
                <dd>
                    <input class="text-box single-line" id="DisplayName" name="DisplayName" type="text" value="@Model.DisplayName" required data-minLength="5"></dd>
            </dl>
            <dl class="uk-description-list uk-description-list-horizontal">
                <dt><label for="DateOfBirth" title="Used only for displaying Age">*Date Of Birth</label></dt>
                <dd>
                    <input type="date" id="DateOfBirth" name="DateOfBirth" data-type="dateIso" value="@Model.DateOfBirth" /></dd>
            </dl>
            <dl class="uk-description-list uk-description-list-horizontal">
                <dt><label for="FirstName">First Name</label></dt>
                <dd><input type="text" id="FirstName" name="FirstName" value="@Model.FirstName" /></dd>
            </dl>
            <dl class="uk-description-list uk-description-list-horizontal">
                <dt><label for="LastName">Last Name</label></dt>
                <dd>
                    <input class="text-box single-line" id="LastName" name="LastName" type="text" value="@Model.LastName"/></dd>
            </dl>
            <dl class="uk-description-list uk-description-list-horizontal">
                <dt><label for="Location">Location</label></dt>
                <dd>
                    <input class="text-box single-line" id="Location" name="Location" type="text" value="@Model.Location"/></dd>
            </dl>
            <dl class="uk-description-list uk-description-list-horizontal">
                <dt><label for="EmailAddress">Email Address</label></dt>
                <dd>
                    <input class="text-box single-line parsley-validated" data-val="true" data-val-email="The EmailAddress field is not a valid e-mail address." id="EmailAddress" name="EmailAddress" type="email" value="@Model.EmailAddress" required data-type="email"/></dd>
            </dl>
            <dl class="uk-description-list uk-description-list-horizontal">
                <dt><label for="Preferences.CodeTheme">Code Theme</label></dt>
                <dd>
                    <select onchange="onThemeChanged(this)" name="Preferences.CodeTheme" id="preferences">
                        @foreach (TheFlow.Api.Entities.CodeStyle style in Enum.GetValues(typeof(TheFlow.Api.Entities.CodeStyle)))
                        {
                            <option value="@style.ToString()" @if (Model.Preferences.CodeTheme == style)
                                                              { <text>selected</text> }>@style.ToString()</option>
                        }
                    </select>
                </dd>
            </dl>
            <small>*Used only for displaying Age</small>
            <hr />
            <button class="uk-button" type="submit">Save Changes</button>
        }
    </div>
    <div class="uk-width-medium-1-2">
        <small>Markdown preview</small>
        <textarea class="wmd-input" id="wmd-input" name="Body" style="max-width: 100%; min-height: 16em;"></textarea>
        <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-margin-top" style="background-color: white;">
            <h3 id="title-preview"></h3>
            <div id="wmd-preview"></div>
        </div>
    </div>
</div>
