@model TheFlow.Api.Entities.User

@{
    ViewBag.Title = string.Format("Info - {0}", TheFlow.Site.Settings.SiteName);
}

@{bool authenticated = TheFlow.Site.Controllers.ControllerHelper.IsAuthenticated();}

@section NavBarRight
{
    @if (authenticated)
    {
        <li class="divider" />
        <li>
            @Html.ActionLink("Edit", "Edit")
        </li>   
    }
}

<div class="row">
    <div class="col-sm-4">
        <h1>@Model.DisplayName</h1>
    </div>
    <div class="col-sm-1 col-sm-push-7 hidden-xs">
        @if (authenticated)
        {
            <div style="margin-top: 0.2em;">
                @Html.ActionLink("edit", "Edit", null, new { @class = "btn btn-default" })
            </div>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-3 text-center">
        @{string reputation = string.Format("{0:n0}", Model.Reputation);}

        <div class="hidden-xs">
            <h5>@reputation Reputation</h5>
        </div>
        <div class="visible-xs text-center">
            <h5>@reputation Reputation</h5>
        </div>
        <div class="text-center">
            @Helpers.DrawGravitar(Model.EmailAddress, 160)
        </div>
    </div>
    <div class="col-sm-9 panel panel-default">
        <div class="row">
            <div class="col-sm-12">
                <dl>
                    <dt>Display Name</dt>
                    <dd>
                        @Model.DisplayName
                    </dd>
                </dl>
                @if (Model.Age.HasValue)
                {
                    <dl>
                        <dt>Age</dt>
                        <dd>
                            @Model.Age.Value
                        </dd>
                    </dl>
                }
                @if (Model.Location != null)
                {
                    <dl>
                        <dt>Location</dt>
                        <dd>
                            @Model.Location
                        </dd>
                    </dl>
                }
                <dl>
                    <dt>Preferred Code Theme</dt>
                    <dd>
                        @Model.Preferences.CodeStyle.ToString()
                    </dd>
                </dl>
            </div>
        </div>
    </div>

</div>

