@model TheFlow.Api.Models.UserModel

@{
    ViewBag.Title = string.Format("Log In - {0}", TheFlow.Site.Settings.SiteName);
}

<h2>Log In</h2>
<div>
    <div class="row">
        <div class="col-sm-12 panel panel-default">
            <h3 class="title">Do you already have an account with one of these providers?</h3>
            <div>
                <p class="hidden-sm">Sign in with one of these providers:</p>
                <p class="visible-sm text-center">Sign in with one of these providers:</p>
                <div class="row">
                    <div class="col-sm-3">
                        @using (Html.BeginForm("LogIn", "Users", FormMethod.Post, new { style = "width: 100%" }))
                        {
                            @Html.AntiForgeryToken();
                            @Html.Hidden("OpenIdProvider", "https://www.google.com/accounts/o8/id")
                            <button class="btn btn-primary" title="Sign in with Google" type="submit" style="width: 100%">Google</button>
                        }
                    </div>
                    <div class="col-sm-3">
                        @using (Html.BeginForm("LogIn", "Users", FormMethod.Post, new { style = "width: 100%" }))
                        {
                            @Html.AntiForgeryToken();
                            @Html.Hidden("OpenIdProvider", "https://me.yahoo.com")
                            <button class="btn btn-primary" title="Sign in with Yahoo" type="submit" style="width: 100%">Yahoo</button>
                        }
                    </div>
                    <div class="col-sm-3">
                        @using (Html.BeginForm("LogIn", "Users", FormMethod.Post, new { style = "width: 100%" }))
                        {
                            @Html.AntiForgeryToken();
                            @Html.Hidden("OpenIdProvider", "https://myopenid.com")
                            <button class="btn btn-primary" title="Sign in with myOpenID" type="submit" style="width: 100%">myOpenID</button>
                        }
                    </div>
                    <div class="col-sm-3">
                        @using (Html.BeginForm("LogIn", "Users", FormMethod.Post, new { style = "width: 100%" }))
                        {
                            @Html.AntiForgeryToken();
                            @Html.Hidden("OpenIdProvider", "https://openid.stackexchange.com/")
                            <button class="btn btn-primary" title="Sign in with Stack Exchange" type="submit" style="width: 100%">Stack Exchange</button>
                        }
                    </div>
                </div>
            </div>
            <hr />
            <h3 class="title">Didn't find your provider? Access your provider by url.</h3>
            <div>
                <form role="form" class="form-inline panel" action="@Url.Action("LogIn", "Users")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group width-90">
                        <label for="OpenIdProvider" class="sr-only">Open ID provider URL</label>
                        <input class="full-width" type="url" id="OpenIdProvider" placeholder="Your OpenID provider URL here" required />
                    </div>
                    <button class="btn btn-success" title="Sign in with your OpenID provider" type="submit">Log In</button>
                    @*<div class="row">
                        <div class="col-sm-11">
                            <input class="full-width" type="url" id="OpenIdProvider" placeholder="Your OpenID provider URL here" required />
                        </div>
                        <div class="col-sm-1">
                            
                        </div>
                    </div>*@
                </form>
            </div>
        </div>
    </div>
</div>
