@model TheFlow.API.Models.UserModel

@{
    ViewBag.Title = "Log In";
}

<link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />

<h2>Create User</h2>
<div class="container">
    <div class="row">
        <div class="large-12 columns">
            <div class="section-container accordion" data-section="accordion">
                <section class="section">
                    <p class="title"><a href="#select">Do you already have an account with one of these providers?</a></p>
                    <div class="content" data-slug="select">
                        <div class="row">
                            <div class="large-3 columns">
                                @using (Html.BeginForm("LogIn", "Users", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken();
                                    @Html.Hidden("OpenIdProvider", "https://www.google.com/accounts/o8/id");
                                    <button class="button success" type="submit">Sign in with Google.</button>
                                }
                            </div>
                            <div class="large-3 columns">
                                @using (Html.BeginForm("LogIn", "Users", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken();
                                    @Html.Hidden("OpenIdProvider", "https://me.yahoo.com");
                                    <button class="button success" type="submit">Sign in with Yahoo.</button>
                                }
                            </div>
                            <div class="large-3 columns">
                                @using (Html.BeginForm("LogIn", "Users", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken();
                                    @Html.Hidden("OpenIdProvider", "https://me.yahoo.com");
                                    <button class="button success" type="submit">Sign in with Yahoo.</button>
                                }
                            </div>
                            <div class="large-3 columns">
                                @using (Html.BeginForm("LogIn", "Users", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken();
                                    @Html.Hidden("OpenIdProvider", "https://openid.stackexchange.com");
                                    <button class="button success" type="submit">Sign in with Stack Exchange.</button>
                                }
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section">
                    <p class="title"><a href="#url">Didn't find your provider? Access your provider by url.</a></p>
                    <div class="content" data-slug="url">
                        <form data-abide action="@Url.Action("LogIn", "Users")" method="post">
                            @Html.AntiForgeryToken()
                            <div class="email-field">
                                <label for="OpenIdProvider">Url</label>
                                <input type="url" id="OpenIdProvider" placeholder="Your OpenID provider URL here" required />
                                <small class="error">Please provide a valid url.</small>
                            </div>
                            <button class="button success" type="submit">Log In</button>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
