@{
    ViewBag.Title = string.Format("Ask a Question - {0}", TheFlow.Site.Settings.SiteName);
}
@section head
{
    <link href="@Helpers.GetCodeStylePath()" type="text/css" rel="stylesheet" />
}
@section AsyncScripts
{
    ,
    "parsley" : "@Url.Content("~/scripts/parsley.js")",
    "markdown.converter" : "@Url.Content("~/scripts/pagedown/Markdown.Converter.js")",
    "markdown.editor" : "@Url.Content("~/scripts/pagedown/Markdown.Editor.js")",
    "markdown.sanitizer" : "@Url.Content("~/scripts/pagedown/Markdown.Sanitizer.js")",
    "prettify" : "@Url.Content("~/scripts/prettyprint/prettify.js")",
    "editor" : "@Url.Content("~/scripts/editor.js")"
}

@section Scripts
{
    <script>
        loader.completeCallback.push(function () {
            enableTab("wmd-input");

            enableEditor();
        });
    </script>
}

<h2>Ask a Question</h2>

<div class="row">
    <div class="col-xs-12">
        <div class="row">
            @using (Html.BeginForm("Create", "Questions", FormMethod.Post, new { novalidate = true, data_validate = "parsley", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="Title" class="sr-only">The title for your question.</label>
                        <input class="full-width input-field" title="The title for your question" id="Title" type="text" placeholder="Title" name="Title" data-minlength="10" data-error-message="Please provide a Title with a length of at least 10" autocomplete="off" required />
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="Tags" class="sr-only">The tags for your question.</label>
                        <input class="full-width input-field" id="Tags" type="text" placeholder="Tags" name="Tags" autocomplete="off" title="The tags for your question" data-minwords="1" data-error-message="Please provide at least one tag" required />
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr />
                    <div class="wmd-button-bar" id="wmd-button-bar"></div>
                    <div class="form-group">
                        <label for="wmd-input" class="sr-only">The body of your question.</label>
                        <textarea class="wmd-input" id="wmd-input" name="Body" required data-minlength="15" data-error-message="Please write a question with at least 15 characters."></textarea>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="panel panel-default editor-preview">
                        <small id="preview-text">Preview</small>
                        <br />
                        <div id="wmd-preview"></div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Ask Question</button>
                </div>
            }
        </div>
    </div>
</div>
