@{
    ViewBag.Title = string.Format("Questions - {0}", TheFlow.Site.Settings.SiteName);
}
@model Tuple<int, int, IEnumerable<TheFlow.Api.Entities.Question>>

@section NavBarRight
{
    <li class="vertical-divider" />
    <li>
        <a href="~/Questions/Create">Ask a Question</a>
    </li>
}

@section AsyncScripts
{
    ,'responsive' : '@Url.Content("~/scripts/responsive.js")'
}

@section Scripts{
    <script type="text/javascript">
        loader.jqueryCallback.push(function () {
            $(".nav li").removeClass("active");
            $(".nav li:eq(2)").addClass("active");

            var width = 0;
            var elements = $('.votes-views');
            function resize() {
                width = $(window).width();
                //mobile - extra small screen
                if (width < 768) {
                    //make the views, votes and answers buttons display horizontally
                    elements.removeClass('btn-group-vertical');
                    elements.addClass('btn-group');
                }
                    //tablet or up - small screen and up
                else {
                    //make the views, votes and answers buttons display vertically
                    elements.removeClass('btn-group');
                    elements.addClass('btn-group-vertical');
                }
            }
            resize();
            $(window).bind("resize", function () {
                resize();
            });
        });
    </script>
}

<div class="row">
    <div class="col-md-9">
        <h1 class="hidden-xs hidden-sm">Questions</h1>
        <h1 class="visible-xs visible-sm text-center">Questions</h1>
    </div>

    <div class="col-md-3 hidden-xs hidden-sm">
        <div class="text-center">
            <a class="btn btn-default" style="margin-top: .45em;" href="~/Questions/Create">Ask a Question</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-push-9">
        <p class="success text-center">Showing @Model.Item3.Count() of @(string.Format("{0:n0}", new TheFlow.Api.Entities.DbContext().Questions.Count())) Questions</p>
    </div>
    <div class="col-md-9 col-md-pull-3">
        @if (Model.Item3.Count() > 0)
        {
            foreach (var question in Model.Item3)
            {
            <hr />
            <div class="row">
                <div class="col-sm-10 uk-width-large-7-10 uk-width-medium-6-10">
                    <h2 class="text-left"><a href="~/Questions/Question/@question.Id?addView=true" style="color: #f2b21b">@question.Title</a></h2>
                    @{var currentBody = question.PlainTextBody;}
                    <p class="text-left question-preview">@currentBody</p>
                </div>
                <div class="col-sm-2 text-center">
                    <div class="responsive btn-group-vertical">
                        @{int votes = question.NetVotes();
                          int answers = question.Answers.Count;
                          int views = question.Views;
                          string votesText = string.Format("{0} {1}", votes, votes != 1 ? "Votes" : "Vote");
                          string answersText = string.Format("{0} {1}", answers, answers != 1 ? "Answers" : "Answer");
                          string viewsTest = string.Format("{0} {1}", views, views != 1 ? "Views" : "View");}
                        <span class="btn btn-default">@votesText</span>
                        <span class="btn @if (answers == 0)
                                         {<text>btn-default</text>}
                                         else if (question.AcceptedAnswer != null)
                                         {<text>btn-success</text>}
                                         else
                                         {<text>btn-primary</text>}">@answersText</span>
                        <span class="btn btn-default">@viewsTest</span>
                    </div>
                </div>
            </div>
            }

        }
        else
        {
            <hr />
            <p class="text-center">There are no Questions, Sorry</p>
        }
    </div>
</div>
<hr />
<ul class="pagination">
    @* Pagination *@
    @if (Model.Item1 == 0)
    {
        <li class="active"><span title="You are on Page 1">1</span></li>
        int difference = Model.Item2 - Model.Item1;
        if (difference > 3)
        {
            for (int i = Model.Item1 + 1; i < Model.Item1 + 3; i++)
            {
        <li><a href="~/Questions?page=@i" title="Go To Page @(i + 1)">@(i + 1)</a></li>
            }
        <li class="disabled"><span>...</span></li>
        <li><a href="~/Questions?page=@Model.Item2" title="Go To Page @(Model.Item2 + 1)">@(Model.Item2 + 1)</a></li>
        }
        else
        {
            for (int i = Model.Item1 + 1; i <= Model.Item2; i++)
            {
        <li><a href="~/Questions?page=@i" title="Go To Page @(i + 1)">@(i + 1)</a></li>
            }
        }
    }
    else if (Model.Item1 > 4)
    {
        <li><a href="~/Questions?page=0" title="Go To Page 1">1</a></li>
        <li class="disabled"><span>...</span></li>
        for (int i = Model.Item1 - 2; i < Model.Item1; i++)
        {
        <li><a href="~/Questions?page=@i" title="Go To Page @(i + 1)">@(i + 1)</a></li>
        }
            
        <li class="uk-active"><span title="You are on Page @(Model.Item1 + 1)">@(Model.Item1 + 1)</span></li>
        int difference = Model.Item2 - Model.Item1;
        if (difference > 3)
        {
            for (int i = Model.Item1 + 1; i < Model.Item1 + 3; i++)
            {
        <li><a href="~/Questions?page=@i" title="Go To Page @(i + 1)">@(i + 1)</a></li>
            }
        <li class="disabled"><span>...</span></li>
        <li><a href="~/Questions?page=@Model.Item2" title="Go To Page @(Model.Item2 + 1)">@(Model.Item2 + 1)</a></li>
        }
        else
        {
            for (int i = Model.Item1 + 1; i <= Model.Item2; i++)
            {
        <li><a href="~/Questions?page=@i" title="Go To Page @(i + 1)">@(i + 1)</a></li>
            }
        }
    }
    else
    {
        //Model.Item1 is between 0 and 4 (1 or 2 or 3)
        <li><a href="~/Questions?page=0" title="Go To Page 1">1</a></li>
        for (int i = 1; i < Model.Item1; i++)
        {
        <li><a href="~/Questions?page=@i" title="Go To Page @(i + 1)">@(i + 1)</a></li>
        }
        <li class="active"><span title="You are on Page @(Model.Item1 + 1)">@(Model.Item1 + 1)</span></li>
            
        int difference = Model.Item2 - Model.Item1;
        if (difference > 3)
        {
            for (int i = Model.Item1 + 1; i < Model.Item1 + 3; i++)
            {
        <li><a href="~/Questions?page=@i" title="Go To Page @(i + 1)">@(i + 1)</a></li>
            }
        <li class="disabled"><span>...</span></li>
        <li><a href="~/Questions?page=@Model.Item2" title="Go To Page @(Model.Item2 + 1)">@(Model.Item2 + 1)</a></li>
        }
        else
        {
            for (int i = Model.Item1 + 1; i <= Model.Item2; i++)
            {
        <li><a href="~/Questions?page=@i" title="Go To Page @(i + 1)">@(i + 1)</a></li>
            }
        }

    }
</ul>
