@using System.Web.Optimization
@using NavigationRoutes

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description" />
    }
    @if (ViewBag.Keywords != null)
    {
        <meta name="keywords" content="@ViewBag.Keywords" />
    }
    <link rel="stylesheet" href="~/Content/Styles.full.min.css" />
    @RenderSection("head", required: false)
    @Html.Partial("_html5shiv")

    @* favicons and touch icons go here *@

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="~/">TheFlow</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden-xs"><a href="~/">Home</a></li>
                <li class="hidden-xs"><a href="~/About">About</a></li>

                <li class="dropdown hidden-xs">
                    <a href="~/Questions">Questions</a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Questions/Create">Ask a Question</a></li>
                    </ul>
                </li>
                <li class="hidden-xs"><a href="~/Users">Users</a></li>
                <li class="visible-xs dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Navigate</a>
                    <ul class="dropdown-menu">
                        <li><a href="~/">Home</a></li>
                        <li><a href="~/About">About</a></li>
                        <li><a href="~/Questions">Questions</a></li>
                        <li><a href="~/Users">Users</a></li>
                    </ul>
                </li>
                @{var navbarLeftSection = RenderSection("NavBarLeft", false);
                  string navbarLeft = "";
                  if (navbarLeftSection != null)
                  {
                      navbarLeft = navbarLeftSection.ToHtmlString();
                  }}
                @Html.Raw(navbarLeft)
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="vertical-divider"></li>
                @{TheFlow.Api.Entities.User user = TheFlow.Site.Controllers.ControllerHelper.Authenticate(Request);}

                @if (user == null)
                {
                    <li><a href="~/Users/LogIn">Create Account</a></li>
                    <li>@Html.ActionLink("Log In", "LogIn", "Users")</li>
                }
                else
                {
                    <li class="dropdown">
                        @Html.ActionLink(user.DisplayName, "Info", "Users", new { user = user.DisplayName }, new { @class = "dropdown-toggle", data_toggle = "dropdown" })
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Log Out", "LogOut", "Users")</li>
                            <li>@Html.ActionLink("Account", "Info", "Users")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink(user.Reputation.ToString(), "Reputation", "Account", null, new { title = string.Format("{0} Reputation", user.Reputation.ToString()) })</li>
                }
                @{var navbarRightSection = RenderSection("NavBarRight", false);
                  string navbarRight = "";
                  if (navbarRightSection != null)
                  {
                      navbarRight = navbarRightSection.ToHtmlString();
                  }}
                @Html.Raw(navbarRight)
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("_validationSummary")
                    @RenderBody()
                    <hr>
                </div>
            </div>
            <footer class="uk-margin-top">
                <div class="row">
                    <div class="col-xs-4">
                        <p class="hidden-sm text-left Copyright"></p>
                        <p class="visible-sm text-center Copyright"></p>
                    </div>
                    <div class="col-xs-4">
                        <p class="text-center">This Version: <a href="https://github.com/KallynGowdy/TheFlow/commit/83e8c38a6ee8d556959e5b480e56c95374ff30f7">83e8c38a6e</a></p>
                    </div>
                    <div class="col-xs-4">
                        <p class="hidden-sm text-right Time"></p>
                        <p class="visible-sm text-center Time"></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    @* A form that includes an anti-forgery token that is used for ajax requests *@
    <form id="__AjaxAntiForgeryForm" style="height: 0px; width: auto; padding: 0px 0px 0px 0px; margin: 0 0 0 0;" method="post" action="#">
        @Html.AntiForgeryToken()
    </form>

    <script>
        /*yepnope1.5.x|WTFPL*/
        (function (a, b, c) { function d(a) { return "[object Function]" == o.call(a) } function e(a) { return "string" == typeof a } function f() { } function g(a) { return !a || "loaded" == a || "complete" == a || "uninitialized" == a } function h() { var a = p.shift(); q = 1, a ? a.t ? m(function () { ("c" == a.t ? B.injectCss : B.injectJs)(a.s, 0, a.a, a.x, a.e, 1) }, 0) : (a(), h()) : q = 0 } function i(a, c, d, e, f, i, j) { function k(b) { if (!o && g(l.readyState) && (u.r = o = 1, !q && h(), l.onload = l.onreadystatechange = null, b)) { "img" != a && m(function () { t.removeChild(l) }, 50); for (var d in y[c]) y[c].hasOwnProperty(d) && y[c][d].onload() } } var j = j || B.errorTimeout, l = b.createElement(a), o = 0, r = 0, u = { t: d, s: c, e: f, a: i, x: j }; 1 === y[c] && (r = 1, y[c] = []), "object" == a ? l.data = c : (l.src = c, l.type = a), l.width = l.height = "0", l.onerror = l.onload = l.onreadystatechange = function () { k.call(this, r) }, p.splice(e, 0, u), "img" != a && (r || 2 === y[c] ? (t.insertBefore(l, s ? null : n), m(k, j)) : y[c].push(l)) } function j(a, b, c, d, f) { return q = 0, b = b || "j", e(a) ? i("c" == b ? v : u, a, b, this.i++, c, d, f) : (p.splice(this.i++, 0, a), 1 == p.length && h()), this } function k() { var a = B; return a.loader = { load: j, i: 0 }, a } var l = b.documentElement, m = a.setTimeout, n = b.getElementsByTagName("script")[0], o = {}.toString, p = [], q = 0, r = "MozAppearance" in l.style, s = r && !!b.createRange().compareNode, t = s ? l : n.parentNode, l = a.opera && "[object Opera]" == o.call(a.opera), l = !!b.attachEvent && !l, u = r ? "object" : l ? "script" : "img", v = l ? "script" : u, w = Array.isArray || function (a) { return "[object Array]" == o.call(a) }, x = [], y = {}, z = { timeout: function (a, b) { return b.length && (a.timeout = b[0]), a } }, A, B; B = function (a) { function b(a) { var a = a.split("!"), b = x.length, c = a.pop(), d = a.length, c = { url: c, origUrl: c, prefixes: a }, e, f, g; for (f = 0; f < d; f++) g = a[f].split("="), (e = z[g.shift()]) && (c = e(c, g)); for (f = 0; f < b; f++) c = x[f](c); return c } function g(a, e, f, g, h) { var i = b(a), j = i.autoCallback; i.url.split(".").pop().split("?").shift(), i.bypass || (e && (e = d(e) ? e : e[a] || e[g] || e[a.split("/").pop().split("?")[0]]), i.instead ? i.instead(a, e, f, g, h) : (y[i.url] ? i.noexec = !0 : y[i.url] = 1, f.load(i.url, i.forceCSS || !i.forceJS && "css" == i.url.split(".").pop().split("?").shift() ? "c" : c, i.noexec, i.attrs, i.timeout), (d(e) || d(j)) && f.load(function () { k(), e && e(i.origUrl, h, g), j && j(i.origUrl, h, g), y[i.url] = 2 }))) } function h(a, b) { function c(a, c) { if (a) { if (e(a)) c || (j = function () { var a = [].slice.call(arguments); k.apply(this, a), l() }), g(a, j, b, 0, h); else if (Object(a) === a) for (n in m = function () { var b = 0, c; for (c in a) a.hasOwnProperty(c) && b++; return b }(), a) a.hasOwnProperty(n) && (!c && !--m && (d(j) ? j = function () { var a = [].slice.call(arguments); k.apply(this, a), l() } : j[n] = function (a) { return function () { var b = [].slice.call(arguments); a && a.apply(this, b), l() } }(k[n])), g(a[n], j, b, n, h)) } else !c && l() } var h = !!a.test, i = a.load || a.both, j = a.callback || f, k = j, l = a.complete || f, m, n; c(h ? a.yep : a.nope, !!i), i && c(i) } var i, j, l = this.yepnope.loader; if (e(a)) g(a, 0, l, 0); else if (w(a)) for (i = 0; i < a.length; i++) j = a[i], e(j) ? g(j, 0, l, 0) : w(j) ? B(j) : Object(j) === j && h(j, l); else Object(a) === a && h(a, l) }, B.addPrefix = function (a, b) { z[a] = b }, B.addFilter = function (a) { x.push(a) }, B.errorTimeout = 1e4, null == b.readyState && b.addEventListener && (b.readyState = "loading", b.addEventListener("DOMContentLoaded", A = function () { b.removeEventListener("DOMContentLoaded", A, 0), b.readyState = "complete" }, 0)), a.yepnope = k(), a.yepnope.executeStack = h, a.yepnope.injectJs = function (a, c, d, e, i, j) { var k = b.createElement("script"), l, o, e = e || B.errorTimeout; k.src = a; for (o in d) k.setAttribute(o, d[o]); c = j ? h : c || f, k.onreadystatechange = k.onload = function () { !l && g(k.readyState) && (l = 1, c(), k.onload = k.onreadystatechange = null) }, m(function () { l || (l = 1, c(1)) }, e), i ? k.onload() : n.parentNode.insertBefore(k, n) }, a.yepnope.injectCss = function (a, c, d, e, g, i) { var e = b.createElement("link"), j, c = i ? h : c || f; e.href = a, e.rel = "stylesheet", e.type = "text/css"; for (j in d) e.setAttribute(j, d[j]); g || (n.parentNode.insertBefore(e, n), m(c, 0)) } })(this, document);

        var loader = {
            bootstrapLoaded: false,
            stylesLoaded: false,
            momentLoaded: false,
            jqueryLoaded: false,
            jqueryCallback: [],
            momentCallback: [],
            stylesCallback: [],
            bootstrapCssCallback: [],
            callback: [],
            completeCallback: [],

            invokeCallback: function (callbackArray) {
                for (var i = 0; i < callbackArray.length; i++) {
                    callbackArray[i]();
                }
            },

            load: function (args) {
                yepnope({
                    load: args,
                    callback: function (url, result, key) {
                        if (key === 'styles') {
                            loader.stylesLoaded = true;
                            loader.invokeCallback(loader.jqueryCallback);
                        }
                        else if (key === 'bootstrap_css') {
                            loader.bootstrapLoaded = true;
                            loader.invokeCallback(loader.jqueryCallback);
                        }
                        if (key === 'jquery') {
                            loader.jqueryLoaded = true;
                            loader.invokeCallback(loader.jqueryCallback);
                        }
                        if (key === 'moment') {
                            loader.momentLoaded = true;
                            loader.invokeCallback(loader.momentCallback);
                        }
                        for (var i = 0; i < loader.callback.length; i++) {
                            loader.callback[i](key);
                        }
                    },
                    complete: function () {
                        loader.invokeCallback(loader.completeCallback);
                    }
                })
            }
        };
        loader.load({
            @*'styles': '@Url.Content("~/Content/Styles.css")',
            'bootstrap_css': '@Url.Content("~/Content/bootstrap/bootstrap.css")',*@
            'jquery': '@Url.Content("~/scripts/jquery-2.0.3.min.js")',
            'bootstrap_js': '@Url.Content("~/scripts/bootstrap.min.js")',
            'moment': '@Url.Content("~/scripts/moment.min.js")'
            @RenderSection("AsyncScripts", required: false)
        });
        loader.jqueryCallback.push(function () {
            if (loader.jqueryLoaded && loader.momentLoaded) {
                setInterval(function () {
                    $(".Time").text(moment().format("dddd, MMMM Do YYYY, h:mm:ss a"));
                    $(".Copyright").text("© Your Company " + moment().format("YYYY"));
                    @RenderSection("TimeUpdateFunction", required: false)
                }, 1000);
            }
        });
        loader.momentCallback.push(function () {
            if (loader.jqueryLoaded && loader.momentLoaded) {
                setInterval(function () {
                    $(".Time").text(moment().format("dddd, MMMM Do YYYY, h:mm:ss a"));
                    $(".Copyright").text("© Your Company " + moment().format("YYYY"));
                    @RenderSection("TimeUpdateFunction", required: false)
                }, 1000);
            }
        });
        loader.stylesCallback.push(function () {
            if (loader.stylesLoaded && loader.bootstrapLoaded) {
                document.body.style.visibility = "visible";
            }
        });
        loader.bootstrapCssCallback.push(function () {
            if (loader.stylesLoaded && loader.bootstrapLoaded) {
                document.body.style.visibility = "visible";
            }
        });
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
